#########
#  git  #
#########

alias gg="git status"

alias gloa="glog --all"

{{- if eq .chezmoi.os "darwin" }}
##########
#  mosh  #
##########

alias mosh="mosh --experimental-remote-ip=remote"

{{- end }}
#################
#  commandline  #
#################

{{- if eq .chezmoi.os "linux" }}
alias ls="ls --color=tty --group-directories-first -X"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
alias ls="gls --color=tty -h --group-directories-first"
{{- end }}

# broot tree
alias brt="br --cmd \":pt\""

# broot list size and permission
alias bra="br -dsp"

# neovim
{{- if eq .chezmoi.os "linux" }}
alias nvim="nvim.appimage"
alias nv="nvim.appimage"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
alias nv="nvim"
{{- end }}

#############
#  chezmoi  #
#############

alias chi="chezmoi -S $HOME/.chezmoi"
