#########
#  git  #
#########

alias gg="git status"

alias gloa="glog --all"

{{- if eq .chezmoi.os "darwin" }}
##########
#  mosh  #
##########

alias mosh="mosh --experimental-remote-ip=remote"

{{- end }}

##########
#  tmux  #
##########

alias tmux_takeover="tmux detach -a"

#################
#  commandline  #
#################

# rm -rf
alias rmrf="rm -rf"

# broot
# alias brt="br --cmd \":pt\""
alias bra="br -dsp"

# exa
alias tree="exa --tree"
alias l="exa -abghHliS --git"
alias ls="exa"

# neovim
{{- if eq .chezmoi.os "linux" }}
alias nvim="nvim.appimage"
alias nv="nvim.appimage"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
alias nv="nvim"
{{- end }}

# python 
alias py="python"
alias ipy="ipython --profile=YL"

#############
#  chezmoi  #
#############

alias chi="chezmoi -S $HOME/.chezmoi"
