Host github.com
 HostName github.com
 IdentityFile ~/.ssh/git/id_rsa
 User git

{{- if eq .chezmoi.os "linux" }}
Host jump.csail.mit.edu
  GSSAPIAuthentication yes
  GSSAPIKeyExchange yes
  VerifyHostKeyDNS yes
  User liuyingcheng 
Host *.csail.mit.edu !jump.csail.mit.edu 128.52.* 128.30.* 128.31.*
  ProxyCommand ssh -W %h:%p jump.csail.mit.edu
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  GSSAPIKeyExchange yes
  User liuyingcheng 
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
Host *
  UseKeychain yes

Host jump.csail.mit.edu
  GSSAPIAuthentication yes
  VerifyHostKeyDNS yes
  # optional, if X forwarding is desired
  ForwardX11 yes
  # optional, if your local username does not match YOUR_CSAIL_USERNAME
  User liuyingcheng
  # IdentityFile /Users/liuyingcheng/.ssh/id_rsa_netmit
  
Host *.csail.mit.edu !jump.csail.mit.edu 128.52.* 128.30.* 128.31.*
  ProxyJump jump.csail.mit.edu
  GSSAPIAuthentication yes
  GSSAPIDelegateCredentials yes
  # optional, if X forwarding is desired
  ForwardX11 yes
  # optional, if your local username does not match YOUR_CSAIL_USERNAME
  User liuyingcheng

Host desktop 
  HostName 10.95.7.138 
  User yingcheng-liu 
  IdentityFile ~/.ssh/desktop/id_rsa
{{- end }}
